estudo/java-anatomia-de-classe/.vscode/
estudo/tipo-variaveis/.vscode/
estudo/operadores-java/.vscode/
estudo/java-anatomia-de-classe/lib/
estudo/tipo-variaveis/lib/
estudo/operadores-java/lib/
estudo/metodos/.vscode/settings.json
estudo/SmartTv/.vscode/settings.json
.gitignore
